@font-face {
  font-family: "SourceSansProRegular";
  src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot");
  src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"), url("../fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "SourceSansProLight"; */
@font-face {
  font-family: "SourceSansProLight";
  src: url("../fonts/SourceSansProLight/SourceSansProLight.eot");
  src: url("../fonts/SourceSansProLight/SourceSansProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansProLight/SourceSansProLight.woff") format("woff"), url("../fonts/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "SourceSansProBold"; */
@font-face {
  font-family: "SourceSansProBold";
  src: url("../fonts/SourceSansProBold/SourceSansProBold.eot");
  src: url("../fonts/SourceSansProBold/SourceSansProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansProBold/SourceSansProBold.woff") format("woff"), url("../fonts/SourceSansProBold/SourceSansProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@keyframes scaleUp {
  from {
    opacity: 0.1;
    -webkit-transform: scale(0.8); }
  to {
    opacity: 1; } }

@keyframes scaleDown {
  from {
    -webkit-transform: scale(1);
    opacity: 0.4; }
  to {
    -webkit-transform: scale(0.7);
    opacity: 0; } }

.ng-enter, .ng-leave {
  position: absolute; }

.ng-enter {
  animation: scaleUp 0.1s both ease-in;
  z-index: 8888; }

.ng-leave {
  animation: scaleDown 0.1s both ease-in;
  z-index: 9999; }

body {
  font: 12pt SourceSansProRegular, "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 10vh; }

h1 {
  font-size: 30pt;
  margin: 40px 0 30px 0;
  font-family: "SourceSansProRegular"; }

h4 {
  font-weight: bold; }

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
  cursor: pointer; }

a .glyphicon {
  font-size: 0.9em; }

header {
  background: rgba(36, 6, 57, 0.85);
  color: #fff;
  padding: 15px;
  font-weight: bold;
  font-family: "SourceSansProLight";
  font-size: 20pt; }
  header .beta {
    font-weight: normal;
    font-size: 0.75em; }
  header a, header a:hover, header a:visited, header a:active, header a:focus {
    color: #fff; }

form {
  font-family: "SourceSansProRegular"; }
  form .label-description {
    font-size: 0.8em;
    margin-bottom: 15px; }
  form .form-error {
    color: red; }

.project-nav {
  background: #e7e7e7;
  padding: 10px 0; }

.projects-list {
  margin: 30px 0; }
  .projects-list .project-item {
    margin-bottom: 10px; }

.repository-list .common-actions {
  margin: 30px 0 30px 0; }

.repository-list .common-actions a {
  margin-right: 30px; }

.repository-list .r-title {
  font-weight: bold; }

.repository-list .r-descr {
  font-size: 0.8em; }

.repository-list .repository-item {
  margin: 20px 0 30px 0; }

.repository-list .branch-info span {
  margin-left: 30px;
  color: #999; }

.footer-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30vh;
  background-color: #f5f5f5; }
  .footer-panel .panel-title {
    height: 30px;
    padding: 3px 3px 3px 15px;
    font-weight: bold;
    border-top: 1px solid #ccc; }
  .footer-panel .panel-container {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    position: relative;
    font-size: 0.8em;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    height: 26vh;
    overflow: auto; }

/*# sourceMappingURL=style.css.map */