<div ng-controller="NewProjectController">
    <h1>New project</h1>

    <form name="ProjectForm" ng-submit="save(project)" novalidate>

        <div class="alert alert-danger" role="alert" ng-show="errors.hasError">{{ errors.text }}</div>

      <div class="form-group">
          <label for="projectName">Project name</label>
          <input type="text" class="form-control" id="projectName" name="projectName" ng-model="project.name" required />
          <div ng-show="ProjectForm.$submitted">
              <div class="form-error" ng-show="ProjectForm.projectName.$error.required">Enter project name</div>
          </div>

      </div>

      <div class="form-group">
        <label for="projectWorkspace">Workspace</label>
        <div class="label-description">You must specify a directory on the server, where will be operations with a project (clone repositories, git operations, etc.)</div>
        <input type="text" class="form-control" id="projectWorkspace" name="projectWorkspace" ng-model="project.workspace" required />
        <div ng-show="ProjectForm.$submitted">
            <div class="form-error" ng-show="ProjectForm.projectWorkspace.$error.required">Enter path to the project workspace</div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" style="margin-left: 5px">Cancel</button>
    </form>
</div>