<div ng-controller="NewProjectController">
    <h1>Новый проект</h1>

    <form name="ProjectForm" ng-submit="save(project)" novalidate>

        <div class="alert alert-danger" role="alert" ng-show="errors.hasError">{{ errors.text }}</div>

      <div class="form-group">
          <label for="projectName">Название проекта</label>
          <input type="text" class="form-control" id="projectName" name="projectName" ng-model="project.name" required />
          <div ng-show="ProjectForm.$submitted">
              <div class="form-error" ng-show="ProjectForm.projectName.$error.required">Введите название проекта</div>
          </div>

      </div>

      <div class="form-group">
        <label for="projectWorkspace">Рабочая область проекта</label>
        <div class="label-description">Необходимо указать директорию на сервере, в которой будет производиться работа с проектом (выгрузка репозиториев, операции с git и т.д.)</div>
        <input type="text" class="form-control" id="projectWorkspace" name="projectWorkspace" ng-model="project.workspace" required />
        <div ng-show="ProjectForm.$submitted">
            <div class="form-error" ng-show="ProjectForm.projectWorkspace.$error.required">Введите путь к рабочей области</div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Сохранить</button>
      <button type="button" class="btn btn-default" style="margin-left: 5px">Отмена</button>
    </form>
</div>