<h1>Project: {{ project.name }}</h1>

<div class="repository-list">
  <h4>Repositories <a style="font-size: 0.75em; margin-left: 20px;" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a></h4>

  <div class="common-actions" ng-if="project.repositories.length">
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-click="fetchAll()" ><span class="glyphicon glyphicon-download"></span> Fetch all</button>
      <button type="button" class="btn btn-default" ng-click="pullAll()"><span class="glyphicon glyphicon-save"></span> Pull all</button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-open"></span> Push all</button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> Checkout branch</button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Create branch</button>
    </div>
  </div>

  <div class="repository-item" ng-repeat="repository in project.repositories">
    <p class="r-title">{{ repository.name }}</p>
    <div class="r-descr">
    <p class="branch-info"><strong>Branch:</strong> {{ repository.current_branch }} <span>author here</span> <span>{{ repository.current_commit }}</span> <span>{{ repository.last_commit_message }}</span></p>
    </div>
  </div>
</div>
<br/>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Repository add</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="gitAddress">Git repository URL</label>
            <input type="text" class="form-control" id="gitAddress" name="gitAddress" ng-model="repo.url" required />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="addRepo(repo)">Save</button>
      </div>
    </div>
  </div>
</div>