<h1>ReleaseBuilder</h1>
<p>Welcome to the automatic branch management system. To start, create or select existent project.</p>

<div class="projects-list" ng-if="projects.length">
    <p><strong>Projects</strong></p>
    <div class="project-item" ng-repeat="project in projects">
        <a href="#/project/{{project.id}}" ng-click="selectProject(project.id)">{{ project.name }}</a>
    </div>
</div>

<br />

<p><button class="btn btn-default" ng-click="changeView('/new-project')">{{ project.length == 0 ? "Create your first project!" : "Create project" }}</button></p>